!!! 5
%html
  %head
    %title= Postmarkdown::Util.app_name
    = stylesheet_link_tag 'postmarkdown/postmarkdown'
    = stylesheet_link_tag 'postmarkdown/syntax/github'
    = yield :head
  %body
    %header#header
      %h1= link_to Postmarkdown::Util.app_name, '/'
      %p
        A #{link_to 'postmarkdown', 'https://github.com/getencode/postmarkdown'} blog
        - if Post.last.try(:author)
          = "by #{Post.last.author}"
    %section#content= yield
    %footer
      %small= "Copyright &copy; #{Date.today.year}".html_safe
